<div class="card" style="width: 12rem;">
    <ng-content select=".card_img"></ng-content>
        <div class="card-body">
            <ng-content select=".card_title"></ng-content>
            <ng-content select=".card_price"></ng-content>
            <ng-content select=".card_desc"  ></ng-content>
            
          <a class="btn btn-primary d-flex m-auto"><strong class="ml-3">Add to cart</strong></a>
        </div>
      </div>