
  <div class="signup-form">
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <p class="hint-text">
        Sign up with your social media account or email address
      </p>
      <div class="social-btn text-center">
        <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
      </div>
      <div class="or-seperator"><b>or</b></div>

      <div class="form-group">
        <input type="email" class="form-control input-lg" formControlName="email" name="email"
          placeholder="Email Address" required="required" />

        <div *ngIf="
              login.controls['email'].touched && !login.controls['email'].valid
            ">
          <div class="warning" *ngIf="login.controls['email'].hasError('required')">
            Please enter your email id.
          </div>
          <div class="warning" *ngIf="login.controls['email'].hasError('minlength')">
            Min length is 1.
          </div>
          <div class="warning" *ngIf="login.controls['email'].hasError('maxlength')">
            Max length is 15.
          </div>
          <div class="warning" *ngIf="login.controls['email'].hasError('pattern')">
            You have enter invalid Email.(Valid email example
            avibharti123@dmain.com)
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-lg" formControlName="password" name="password"
          placeholder="Password" required="required" />

        <div *ngIf="
              login.controls['password'].touched &&
              !login.controls['password'].valid
            ">
          <div class="warning" *ngIf="login.controls['password'].hasError('required')">
            Please enter password
          </div>
          <div class="warning" *ngIf="login.controls['password'].hasError('minlength')">
            <!-- Min length must be 6 -->
          </div>
          <div class="warning" *ngIf="login.controls['password'].hasError('maxlength')">
            <!-- Exceed Password length limit(*Try less than 50) -->
          </div>
          <div class="warning" *ngIf="login.controls['password'].hasError('pattern')">
            You have enter invalid password. ( Check your password must be
            between 6 and 30 characters, one uppercase, or capital, letter
            (ex: A, B, etc.).One lowercase letter at least one number digit
            and )
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" [disabled]="!login.valid">
          Log In
        </button>
        <div class="text-center" style="padding-top: 30px">
          <a routerLink="/forget">Forgot Your Password</a>
        </div>
      </div>
    </form>
    <div class="text-center">
      Don't have an account ? <a routerLink="/signup">Sign Up</a>
    </div>
  </div>

