<div class="col-md-12 m-auto ">
    <h3 class="p-3">   Enter You Product Detail 
    </h3> 
    <form>
        <div class="form-group px-2 ">
          <input type="text" class="form-control"   placeholder="Product Title">
        </div>
        <div class="form-group px-2 ">
            <input type="email" class="form-control"   placeholder="Product Description">
          </div>
          <div class="form-group px-2">
            <input type="email" class="form-control" placeholder="Product Price ">
          </div>
          <div class="form-group px-2">
            <select class="form-control" id="exampleFormControlSelect1"  >
              <option>Large</option>
              <option>Small</option>
              <option>Medium</option>
              
            </select>
          </div>
        <div class="form-group px-2" >
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group px-2" >
          <input type="file" class="form-control" id="exampleInputPassword1">
        </div>
        
      </form>
 </div>