
    <div class="signup-form">
      <form [formGroup]="signup" (ngSubmit)="onSubmit()">
        <h2>Sign Up</h2>
        <p class="hint-text">
          Sign up with your social media account or email address
        </p>
        <div class="social-btn text-center">
          <a href="#" class="btn btn-primary btn-lg"
            ><i class="fa fa-facebook"></i> Facebook</a
          >
          <a href="#" class="btn btn-info btn-lg"
            ><i class="fa fa-twitter"></i> Twitter</a
          >
          <a href="#" class="btn btn-danger btn-lg"
            ><i class="fa fa-google"></i> Google</a
          >
        </div>
        <div class="or-seperator"><b>or</b></div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-lg"
            formControlName="name"
            placeholder="Name"
          />

          <div
            *ngIf="
              signup.controls['name'].touched &&
              !signup.controls['name'].valid
            "
          >
            <div
              class="warning"
              *ngIf="signup.controls['name'].hasError('required')"
            >
              Please enter your first name
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['name'].hasError('minlength')"
            >
              Min length is 1
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['name'].hasError('maxlength')"
            >
              max length is 15
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['name'].hasError('pattern')"
            >
              You have enter invalid name(*avoid space and number)
            </div>
          </div>

      
        </div>
 

        <div class="form-group">
          <input
            type="email"
            class="form-control input-lg"
            formControlName="email"
            placeholder=" Email"
            required="required"
          />
  
          <div
            *ngIf="
              signup.controls['email'].touched &&
              !signup.controls['email'].valid
            "
          >
            <div
              class="warning"
              *ngIf="signup.controls['email'].hasError('required')"
            >
              Please enter your email id.
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['email'].hasError('minlength')"
            >
              Min length is 1.
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['email'].hasError('maxlength')"
            >
              Max length is 15.
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['email'].hasError('email')"
            >
              You have enter invalid Email.(Valid email example
              avibharti123@dmain.com)
            </div>
          </div>
        </div>
            <div class="form-group">
          <input
            type="password"
            class="form-control input-lg"
            formControlName="password"
            placeholder="Password"
            required="required"
          />

          <div
            *ngIf="
              signup.controls['password'].touched &&
              !signup.controls['password'].valid
            "
          >
            <div
              class="warning"
              *ngIf="signup.controls['password'].hasError('required')"
            >
              Please enter password
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['password'].hasError('minlength')"
            >
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['password'].hasError('maxlength')"
            >
            </div>
            <div
              class="warning"
              *ngIf="signup.controls['password'].hasError('pattern')"
            >
              You have enter invalid password. ( Check your password must be
              between 6 and 30 characters, one uppercase, or capital, letter
              (ex: A, B, etc.).One lowercase letter at least one number digit
              and )
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            type="password"
            class="form-control input-lg"
            formControlName="confirmPassword"
            placeholder="Confirm password"
            required="required"
          />

          <div
            *ngIf="
              signup.controls['confirmPassword'].touched &&
              !signup.controls['confirmPassword'].valid
            "
          >
            <div
              class="warning"
              *ngIf="signup.controls['confirmPassword'].hasError('required')"
            >
              Please enter password
            </div>
            <div
              class="warning"
              *ngIf="signup.controls.confirmPassword.errors?.confirmedValidator"
            >
              Please make sure your password should match
            </div>
          </div>

        </div>

        <div class="form-group">
          <input
            class="form-control-check"
            type="checkbox"
            formControlName="terms"
          /><span id="checkspan">Accept Terms and Condition...</span>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-success btn-lg btn-block signup-btn"
            [disabled]="!signup.valid"
          >
            Sign Up
          </button>
        </div>
      </form>
      

      <div class="text-center">
        Do you have already an account ? <a [routerLink]="['/login']">Log In</a>
      </div>
    </div>
   
  
