<div class="container-fluid ">
    <div class="row ">
      <div class="col shadow  mb-5 bg-white rounded">  
          <h1 class="p-2 text-center  fw-bolder" style="  text-shadow: 2px 2px 8px #999393;">This is Product Page 
            <app-modal>
              <button class="btn btn-success float-right" data-toggle="modal" data-target="#staticBack">Add product</button>
            </app-modal>
           <!-- <button class="btn btn-dark float-right" (click)="onSubmit()" >Show Product</button> -->
        </h1> 
         
        </div>
    </div> 
  </div>
    <div class="container border-dark ">
        <div class="row d-flex justify-content-md-left flex-wrap align-items-stretch" >
    <div  *ngFor="let product of products;" class=" m-2 shadow p-3 mb-5 bg-white rounded" >
        <app-ngcard class="">

          <app-carousel class="card_img">
            <div class="carousel-item" *ngFor="let product of products; index as i ">
              <img  src="http://localhost:8800/upload/{{product.product_img}} " onerror="this.src='../../assets/product.png'" class="d-block w-100" alt="...">      </div>
          </app-carousel>

            <h4 class="card-title card_title">{{product.product_title}}</h4>
            <p class="card-title card_price"><strong class="text-success">Rs:-{{product.product_price}}</strong></p>
            <p class="card-text card_desc">{{product.product_desc}}</p>
        </app-ngcard>
    </div>
</div>  
</div>





<!-- modal -->


<!-- Button trigger modal -->

  
  <!-- Modal -->



<!-- Button trigger modal -->

<!-- Modal -->





  
  
